<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6 ie-lt10 ie-lt9 ie-lt8 ie-lt7 no-js" lang="ja"><![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lt10 ie-lt9 ie-lt8 no-js" lang="ja"><![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lt10 ie-lt9 no-js" lang="ja"><![endif]-->
<!--[if IE 9]><html class="ie ie9 ie-lt10 no-js" lang="ja"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="ja">
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="author" content="FOODCONNECTION">
<title>千種、今池のイタリア料理店、ラ ポルケッテリア｜一人飲み、ディナーデートに人気</title>
<meta name="description" content="LA PORCHETTERIA（ラ ポルケッテリア）の公式サイト｜名古屋市千種区今池のイタリア料理店。ローマやその近郊の郷土料理とイタリアワインを提供。一人飲みやディナーデート、ご友人とのお食事にも、大人数でのお集まりにもおすすめ。">
<!-- Social Share - Facebook -->
<meta property="og:type" content="website">
<meta property="og:locale" content="ja_JP">
<meta property="og:url" content="https://www.bar-e-passione.com/">
<meta property="og:image" content="https://www.bar-e-passione.com/shared/img/shared/ogp.png">
<meta property="og:title" content="千種、今池のイタリア料理店、ラ ポルケッテリア｜一人飲み、ディナーデートに人気">
<meta property="og:site_name" content="千種、今池のイタリア料理店、ラ ポルケッテリア｜一人飲み、ディナーデートに人気">
<meta property="og:description" content="LA PORCHETTERIA（ラ ポルケッテリア）の公式サイト｜名古屋市千種区今池のイタリア料理店。ローマやその近郊の郷土料理とイタリアワインを提供。一人飲みやディナーデート、ご友人とのお食事にも、大人数でのお集まりにもおすすめ。">
<!-- Mobile -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
<!-- Viewport -->
<meta name="viewport" content="width=device-width, shrink-to-fit=no">
<script src="shared/js/viewport.js"></script> 
<!-- Profiles -->
<link rel="canonical" href="https://www.bar-e-passione.com/">
<link rel="profile" href="http://microformats.org/profile/hcard">
<link rel="apple-touch-icon" href="shared/img/shared/apple-touch-icon.png">
<link rel="shortcut icon" href="shared/img/shared/favicon.ico">
<!-- Styles -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Cinzel:wght@400;500&Cormorant+Garamond:wght@400;500;600;700&family=Montserrat:wght@600&&family=Zen+Old+Mincho&display=swap" rel="stylesheet">
<link rel="stylesheet" href="shared/css/common.css">
<link rel="stylesheet" href="shared/css/shared.css">
<link rel="stylesheet" href="shared/css/slick.min.css">
<link rel="stylesheet" href="shared/css/header.css">
<link rel="stylesheet" href="shared/css/index.css">
	
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T75MPEFQV8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T75MPEFQV8');
</script>
</head>
	
<body>
<main class="ovh">
  <header>
    <h1><span>千種、今池のイタリア料理店、ラ ポルケッテリア｜一人飲み、ディナーデートに人気</span></h1>
    <p class="logo non-over "><a href="./"><img src="shared/img/shared/logo.png" width="192" height="271" alt="logo" class="non-over"/></a></p>
    <div class="hamburger pc"> <img src="shared/img/shared/menu.png" width="71" height="71" alt="menu"/> <img src="shared/img/shared/menu_on.png" width="110" height="110" alt="X" class="on"/></div>
    <div id="belt" class="nav-fixed">
      <div id="navigation">
        <div class="group">
          <div class="gr">
            <p class="hamburger ham-img sp hamburger-sp"><img src="shared/img/shared/close_sp.png" width="120" height="103" alt="close"></p>
            <ul class="tog-nav fnt-Cormoran">
              <li><a href="./" class="active"><span>HOME</span></a></li>
              <li><a href="menu.html"><span>MENU</span></a></li>
              <li><a href="wine.html"><span>WINE</span></a></li>
              <li><a href="index.html#floor"><span>FLOOR</span></a></li>
              <li><a href="#shopinfo"><span>ACCESS</span></a></li>
              <li><a href="#gmap"><span>MAP</span></a></li>
              <li class="access"><a href="recruit.html"><span>RECRUIT</span></a></li>
              <li class="soc"><a href="https://www.instagram.com/la_porchetteria/?hl=ja" target="_blank" rel="nofollow" onclick="gtag('event','click',{'event_category':'Links','event_label':'btn_insta'});"><img src="shared/img/shared/soc1.png" width="50" height="50" alt="Instagram"/></a><a href="https://ja-jp.facebook.com/porchetteriaromana/" target="_blank" rel="nofollow" onclick="gtag('event','click',{'event_category':'Links','event_label':'btn_fb'});"><img src="shared/img/shared/soc2.png" width="50" height="50" alt="Facebook"/></a></li>
              <li class="popup"><a href="#popup" class="unsmooth">コロナウイルス予防対策について</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pc">
      <div class="hd-pc">
        <ul class="nav fnt-Cormoran">
          <li class="active"><a href="./"><span>HOME</span></a></li>
          <li><a href="menu.html"><span>MENU</span></a></li>
          <li><a href="wine.html"><span>WINE</span></a></li>
          <li><a href="index.html#floor"><span>FLOOR</span></a></li>
          <li><a href="#shopinfo"><span>ACCESS</span></a></li>
			<li><a href="#gmap"><span>MAP</span></a></li>
        </ul>
        <p class="soc"><a href="https://www.instagram.com/la_porchetteria/?hl=ja" target="_blank" rel="nofollow" onclick="gtag('event','click',{'event_category':'Links','event_label':'btn_insta'});"><img src="shared/img/shared/soc1.png" width="50" height="50" alt="Instagram"/></a><a href="https://ja-jp.facebook.com/porchetteriaromana/" target="_blank" rel="nofollow" onclick="gtag('event','click',{'event_category':'Links','event_label':'btn_fb'});"><img src="shared/img/shared/soc2.png" width="50" height="50" alt="Facebook"/></a></p>
        <div class="contact">
          <p class="tel">ご予約・お問い合わせ<br>
            <a href="tel:0527171959" class="telhref" onclick="gtag('event','click',{'event_category':'tel','event_label':'header_phone'});"><span class="num fnt-amiri"><img src="shared/img/shared/ico-tel.png" width="19" height="21" alt="tel"/>052-717-1959</span></a> </p>
          <p class="access fnt-Cormoran"><a href="recruit.html"><span>RECRUIT</span></a></p>
        </div>
      </div>
    </div>
   <div id="key">
      <p class="tit"><img src="shared/img/index/key_tit.png" width="540" height="272" alt="美味しいイタリアンとワイン LA PORCHETTERIA ラ ポルケッテリア"/></p>
      <ul class="slide-fade">
        <li class="sl1"><img src="shared/img/index/js1_sp.jpg" width="750" height="1200" alt="利用シーン"/></li>
        <li class="sl2"><img src="shared/img/index/js2_sp.jpg" width="750" height="1200" alt="利用シーン"/></li>
        <li class="sl3"><img src="shared/img/index/js3_sp.jpg" width="750" height="1200" alt="ポルケッタ"/></li>
      </ul>
    </div>
    <div class="reservation pc">
      <p class="parent"><img src="shared/img/index/fix_bnr1.jpg" width="230" height="152" alt="RESERVE WEBご予約はこちらから"/></p>
      <ul class="sub">
        <li><a href="./e-mailform-jp/reservation.html" target="_blank" onclick="gtag('event','click',{'event_category':'Links','event_label':'btn_efo'});"><img src="shared/img/index/fix_bnr3.png" width="230" height="50" alt="メールフォームから"/></a></li>
           <li><a href="https://tabelog.com/aichi/A2301/A230106/23067373/" target="_blank" rel="nofollow" onClick="gtag('event','click',{'event_category':'Links','event_label':'btn_tabelog'});"><img src="shared/img/index/fix_bnr2.png" width="230" height="50" alt="食べログから"/></a></li>
      </ul>
    </div>
  </header>
  <section class="nav-target" id="container">
    <div class="remodal" data-remodal-id="popup" role="dialog">
      <button data-remodal-action="close" class="remodal-close" aria-label="Close"><img src="shared/img/index/close.png" width="80" height="79" alt="close"/></button>
      <div id="popup">
        <div class="wrap">
          <h2><span>コロナウイルス<br class="sp">感染予防対策について</span></h2>
          <div class="txt">
            <p>いつもご愛顧いただき誠にありがとうございます。<br>
              当店では、次の対策を行っております。</p>
            <p> 今後も引き続き感染症対策に取り組みながら、お客様とスタッフの健康と安全を第一に営業してまいります。お客様にはご不便をおかけいたしますが、何卒ご理解、ご協力のほどお願い申し上げます。</p>
          </div>
          <div class="list">
            <ul>
              <li>・店内アルコール消毒</li>
              <li>・店内の換気</li>
              <li>・店内に消毒アルコールの設置</li>
              <li>・スタッフのマスク着用</li>
              <li>・うがい手洗い徹底</li>
              <li>・周りの方との距離の確保</li>
              <li>・お客様へのアルコール消毒と検温のお願い</li>
              <li>・アクリル板の設置</li>
              <li>・空気ウイルス除去剤設置</li>
              <li>・空気清浄機設置</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="lead">
      <div class="wrap">
        <h2 class="wow fadeInUp"><span>トラステヴェレの</span><br>
          <span>雰囲気漂う</span><br>
          <span>気軽に美味しい</span><br>
          <span>イタリア料理店</span></h2>
        <p class="photo1 wow fadeInUp"><img src="shared/img/index/lead_p1.jpg" width="558" height="660" alt="外観"/></p>
        <p class="photo2 wow fadeInUp"><img src="shared/img/index/lead_p2.jpg" width="817" height="633" alt="お出迎え"/></p>
        <div class="txt bg1 wow fadeInUp">
          <div class="col">
            <p>「イタリアをもっと気軽に」をコンセプトに、千種・今池でオープンした「<span class="txt-latin">LA PORCHETTERIA</span>（ラ ポルケッテリア）」。イタリアの中南部に位置するローマやその近郊の郷土料理とイタリアワインをご提供する、フラスケッタ（居酒屋）です。</p>
			</div>
			<div class="col">
            <p>現地そのままの味を、フラスケッタらしい肩肘張らない雰囲気の中でお楽しみいただけます。会話に花を咲かせながら、楽しいディナータイムをお過ごしください。</p>
            <p> 美味しいイタリア郷土料理とワイン、ワクワクと心躍るひとときに精一杯のおもてなしをさせていただきます。 </p>
          </div>
          <p class="deco"><img src="shared/img/index/lead_tit.png" width="675" height="196" alt="Godere piu  Casualmente"/></p>
        </div>
      </div>
    </div>
    <div id="concept" class="box-parallax wow fadeInUp">
      <div class="lead wow fadeInUp">
        <h2 class="fnt-Cormoran txt-center">GUSTO LOCALE</h2>
        <dl class="info">
          <dt class="txt-center">踏み入れたら<br>
            そこはイタリア</dt>
          <dd>
            <p>ローマ・南イタリアの郷土料理に特化して、イタリア産の食材を使い、<br class="pc">現地のままのレシピでご提供しています。<br class="pc">ぜひワインと共にご堪能ください。</p>
            <p>お店の外観や内観もまた、ローマの街中で地元の人が通うような料理店をイメージしています。<br class="pc">日本に居ながらにして、ローマの下町トラステヴェレを彷彿とさせる雰囲気を感じてみてください。</p>
          </dd>
          <p class="map wow fadeInUp"><img src="shared/img/index/lead_map.png" width="459" height="543" alt="Map"/></p>
        </dl>
      </div>
      <p class="img-parallax pc wow fadeInUp"><img src="shared/img/index/lead_bg.jpg" width="1500" height="1393" alt="GUSTO LOCALE"/></p>
    </div>
    <div id="reco" class="wow fadeInUp">
      <h2><span class="fnt-Cormoran">PORCHETTA</span><br>
        ラ ポルケッテリア名物<br>
        ポルケッタ</h2>
      <p class="deco1 pc wow fadeInUp"><img src="shared/img/index/reco_deco1.png" width="302" height="774" alt="wine"/></p>
      <p class="deco2 pc wow fadeInUp"><img src="shared/img/index/reco_deco2.png" width="444" height="585" alt="wine"/></p>
      <div class="wrap">
        <div class="info wow fadeInUp">
          <ul class="js-fade slick-auto">
            <li><img src="shared/img/index/reco_js1.jpg" width="1006" height="622" alt="ポルケッタ"/></li>
            <li><img src="shared/img/index/reco_js2.jpg" width="1006" height="622" alt="ポルケッタ"/></li>
          </ul>
          <p class="txt">まずは看板メニューの“ポルケッタ”からどうぞ。ポルケッタとは、ハーブをたっぷり巻き込んだ豚肉のローストのことで、ローマ近郊のアリッチャ村で古くから愛されているソウルフード。お店の名前「ポルケッテリア」の由来にもなっているように、当店を語るには欠かせないメニューです。</p>
          <p class="bnr"><a href="menu.html">MENU<img src="shared/img/index/arow4.png" width="29" height="29" alt=">"/></a></p>
        </div>
        <div class="wine wow fadeInUp">
          <h3><img src="shared/img/index/wine.png" width="530" height="332" alt="with Wine"/></h3>
          <h4 class="txt-vertical">ペアリングで<br>
            より味わい深く</h4>
          <p class="photo wow fadeInUp"><img src="shared/img/index/reco_p1.jpg" width="599" height="805" alt="ワイン"/></p>
          <p class="txt">ワインはすべてイタリア産。中でも中部～南の産地を扱っています。ローマやその近郊の街で実際に食べて飲まれている組み合わせで、そのままのイタリアを感じていただけます。品種が500以上あると言われるイタリアワインの中でも、他では見ないような珍しい土着品種に出会うことも。選りすぐりのラインナップからソムリエが料理やお好みに合うワインをご提案しますので、気兼ねなくお声がけください。</p>
          <p class="bnr"><a href="wine.html">VINO<img src="shared/img/index/arow4.png" width="29" height="29" alt=">"/></a></p>
          <p class="deco3 sp wow fadeInUp"><img src="shared/img/index/reco_deco2.png" width="444" height="585" alt="wine"/></p>
        </div>
      </div>
    </div>
    <div id="dish" class="wow fadeInUp">
      <ul class="js-scroll">
        <li class="js1"><img src="shared/img/index/dish_p1.jpg" width="670" height="505" alt="カルボナーラ"/></li>
        <li class="js2"><img src="shared/img/index/dish_p2.jpg" width="561" height="407" alt="カルボナーラ"/></li>
        <li class="js3"><img src="shared/img/index/dish_p3.jpg" width="561" height="549" alt="トリッパ"/></li>
        <li class="js4"><img src="shared/img/index/dish_p4.jpg" width="748" height="523" alt="前菜盛り合わせ"/></li>
      </ul>
    </div>
    <div id="floor">
      <h2 class="fnt-Cormoran wow fadeInUp">SARA</h2>
      <div class="floor-in">
        <div class="wrap">
          <div class="floor wow fadeInUp">
            <ul class="js-fade slick-auto">
              <li><img src="shared/img/index/floor1_js1.jpg" width="751" height="500" alt="カウンターシーン"/></li>
              <li><img src="shared/img/index/floor1_js2.jpg" width="751" height="500" alt="カウンター席"/></li>
            </ul>
            <dl>
              <dt><span>BANCO</span><br>
                調理風景を楽しめる特等席</dt>
              <dd>全6席のカウンターは、一人飲みやデートなど少人数利用に最適。シェフの調理姿を眺めながら思い思いのひとときを過ごせます。遅い時間からでもふらっと気軽にご来店ください。</dd>
            </dl>
          </div>
          <div class="floor ext wow fadeInUp">
            <ul class="js-fade slick-auto">
              <li><img src="shared/img/index/floor2_js1.jpg" width="751" height="500" alt="テーブルシーン"/></li>
              <li><img src="shared/img/index/floor2_js2.jpg" width="751" height="500" alt="テーブル席"/></li>
            </ul>
            <dl>
              <dt><span>TAVOLA</span><br>
                仲間と会話が弾むテーブル席</dt>
              <dd>広々としたテーブル席は、ご友人とのお食事にも、大人数でのお集まりにもご利用いただけます。お席は人数に合わせてレイアウト変更も可能です。2軒目としてのご利用も大歓迎です。</dd>
            </dl>
          </div>
          <div class="map wow fadeInUp">
            <dl>
              <dt><img src="shared/img/index/floor_map.png" width="422" height="79" alt="Floor Map"/></dt>
              <dd><img src="shared/img/index/map.png" width="823" height="369" alt="Floor Map"/></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <div id="news" class="wow fadeInUp">
      <div class="wrap">
        <h2 class="fnt-Cormoran">NEWS</h2>
        <ul id="feed">
        </ul>
        <p class="soc"><a href="https://www.instagram.com/la_porchetteria/?hl=ja" target="_blank" rel="nofollow" onclick="gtag('event','click',{'event_category':'Links','event_label':'btn_insta'});"><img src="shared/img/index/soc1.png" width="26" height="26" alt="Instagram"/></a><a href="https://ja-jp.facebook.com/porchetteriaromana/" target="_blank" rel="nofollow" onclick="gtag('event','click',{'event_category':'Links','event_label':'btn_fb'});"><img src="shared/img/index/soc2.png" width="26" height="26" alt="Facebook"/></a></p>
        <p class="more"><a href="https://www.bar-e-passione.com/fcblog/" target="_blank"><span>more</span></a></p>
      </div>
    </div>
    <div id="shopinfo">
      <div class="wrap">
        <p class="photo">
          <picture>
        <source media="(max-width:999px)" srcset="shared/img/shared/shop_sp.jpg">
        <img src="shared/img/shared/shop_p.jpg" width="645" height="927" alt="外観"/>
        </picture>
        </p>
        <div class="info">
          <p class="logo"><img src="shared/img/shared/f_logo.png" width="400" height="264" alt="logo"/></p>
          <p class="tit">千種・今池のイタリア料理店<br>
            フラスケッタ ラ ポルケッテリア</p>
          <p class="tel">ご予約・お問い合わせ<br>
            <a href="tel:0527171959" class="telhref" onclick="gtag('event','click',{'event_category':'tel','event_label':'info_phone'});"><span class="num fnt-amiri"><img src="shared/img/shared/ico-tel2.png" width="23" height="26" alt="tel"/>052-717-1959</span></a> </p>
        </div>
        <div class="tbl-info">
          <dl>
            <dt>住所</dt>
            <dd>〒464-0850<br>
              愛知県名古屋市千種区今池5-9-5</dd>
          </dl>
          <dl>
            <dt>アクセス</dt>
            <dd>名古屋市営地下鉄「今池駅」7番出口より徒歩1分</dd>
          </dl>
          <dl>
            <dt>営業時間</dt>
            <dd>17:30～24:00（L.O.23:00）<br>
              日曜日のみ 16:00～22:00（L.O.21:30）</dd>
          </dl>
          <dl>
            <dt>定休日</dt>
            <dd>火曜日<br>
              ※月一回程度不定休をいただきます。</dd>
          </dl>
          <dl>
            <dt>駐車場</dt>
            <dd>無し<br>
              ※公共交通機関でのご来店をおすすめします。</dd>
          </dl>
          <dl>
            <dt>総席数</dt>
            <dd>26席（カウンター6席、テーブル20席）</dd>
          </dl>
          <dl>
            <dt>貸切</dt>
            <dd>可</dd>
          </dl>
          <dl>
            <dt>クレジットカード</dt>
            <dd>可（VISA,Master,JCB,AMEX,Diners）</dd>
          </dl>
          <dl>
            <dt>電子マネー</dt>
            <dd>可（PayPay）</dd>
          </dl>
          <dl class="policy">
            <dt>ご予約のキャンセルについて</dt>
            <dd>キャンセルは2日前までにお願いします。2日を過ぎてのキャンセルはキャンセル料金を頂戴する場合がございます。ご理解のほどよろしくお願いします。</dd>
          </dl>
        </div>
      </div>
    </div>
    <div id="gmap">
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6523.098801910882!2d136.9363477!3d35.1678569!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x75dc0e3526178371!2zRnJhc2NoZXR0YSBsYSBQb3JjaGV0dGVyaWEg44Op44O744Od44Or44Kx44OD44OG44Oq44Ki!5e0!3m2!1sja!2s!4v1673519103466!5m2!1sja!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <ul class="link d-flex">
        <li class="bnr-shared"><a href="https://goo.gl/maps/8BgMhNmjUvNGw9UX7" onClick="gtag('event','click',{'event_category':'Links','event_label':'gmap_print'});" target="_blank" rel="nofollow"><span class="pc">地図を印刷</span><span class="sp">Google マップ</span></a></li>
        <li class="bnr-shared btn-copy"><a class="copy" data-replace-text="コピーしました" data-replace-image="" onClick="gtag('event','click',{'event_category':'Links','event_label':'copy_url'});"><span>URLをコピー</span></a></li> <li class="print_map pc"><a href="https://www.foodconnection.jp/gmap_print" target="_blank"><span>印刷方法はこちら</span></a></li>
      </ul>
    </div>
  </section>
  <footer id="footer">
    <div class="ft-in">
      <address>
      &copy; FRASCHETTA<br>LA PORCHETTERIA. All Rights Reserved.
      </address>
      <p class="cookies_link"><a href="https://www.foodconnection.jp/cookie/cookie_share.html" target="_blank" rel="nofollow">Cookie情報等の取り扱いについて</a></p>
      <div class="socialbuttons"></div>
    </div>
  </footer>
  <ul class="ft_bnr_fixed sp">
    <li class="tel"><a href="tel:0527171959" onclick="gtag('event','click',{'event_category':'tel','event_label':'fixed_phone'});"><img src="shared/img/shared/fix_ico1.png" width="29" height="53" alt="tel"/></a></li>
    <li class="reservation"><span><img src="shared/img/shared/fix_ico2.png" width="39" height="37" alt="RESERVE"/>RESERVE</span><br>
      WEBご予約はこちらから <ul class="sub">
        <li><a href="./e-mailform-jp/reservation.html" target="_blank" onclick="gtag('event','click',{'event_category':'Links','event_label':'btn_efo'});"><img src="shared/img/index/fix_bnr3.png" width="230" height="50" alt="メールフォームから"/></a></li>
        <li><a href="https://tabelog.com/aichi/A2301/A230106/23067373/" target="_blank" rel="nofollow" onClick="gtag('event','click',{'event_category':'Links','event_label':'btn_tabelog'});"><img src="shared/img/index/fix_bnr2.png" width="230" height="50" alt="食べログから"/></a></li>
      </ul>
    </li>
    <li class="map"><a href="https://goo.gl/maps/8BgMhNmjUvNGw9UX7" target="_blank" rel="nofollow" onClick="gtag('event','click',{'event_category':'Links','event_label':'btn_googlemap'});"><img src="shared/img/shared/fix_ico3.png" width="39" height="37" alt="map"/></a></li>
    <li class="hamburger ham-img"><img src="shared/img/shared/menu_sp.png" width="120" height="120" alt="menu"></li>
  </ul>
</main>

<!-- Scroll to top -->
<p id="pagetop"><img src="shared/img/shared/up.png" alt="最上部へ" width="100" height="100"></p>
<!-- Facebook - Social -->
<div id="fb-root"></div>

<!-- Libraries script --> 
<script src="shared/js/base.js"></script> 
<script src="shared/js/autoload.js"></script> 
<script src="shared/js/jquery.min.js"></script> 
<script src="shared/js/slick.js"></script> 
<script src="shared/js/common.js"></script> 
<script src="shared/js/shared.js"></script> 
<script src="shared/js/remodal.js"></script> 
<script src="shared/js/jquery.rss.js"></script> 
<script src="shared/js/wow.min.js"></script> 
<script>	

 $(document).ready(function(){
   
   new WOW().init();
 $('.js-fade').slick({ 
  arrows: false,
  fade: true,
  autoplay: true,
  dots: true, 
 focusOnSelect: false,  
   pauseOnHover: false,
    pauseOnFocus: false,
    pauseOnDotsHover:false,
   	autoplaySpeed:3000,

});	



});      
    
 $('.js-scroll').slick({ 
            speed: 5000,
                autoplay: true,
                autoplaySpeed: 0,
                centerMode: false,
                cssEase: 'linear',
                slidesToShow: 2,
                slidesToScroll: 1,
                variableWidth: false,
                infinite: true,
             
                arrows: false,
                buttons: false,
               responsive: [
                {
                  breakpoint: 3000,
                  settings: "unslick"
                },
                 {
                  breakpoint: 999,
                  settings: "refresh",
                     variableWidth: false,
                }  
              ]
  
  
}); 
	var rssTpl = "";
      rssTpl += '<li><span class="date">{YEARS}-{MONTH}-{DAY}</span><br class="sp"><a href="{URL}" target="_blank">{NAME}</a></li>';
      FCBase.rss.data = [
          /* 複数設置の場合、ここからコピー */
          {
             selector: "#feed",
            url: 1,
            page: 1,
            total: 2,
            maxTitle: 20,
            maxDesc: 35,
            endText: "...",
            noImage: "shared/img/shared/no-img.jpg",
			ImageSize: {width: "280", height: "187"},
            template: rssTpl,
            callback: function() {}
          }
      ];
	
  
</script>
<script src="./index.js"></script>
</body>
</html>