/* Scss Document */
.img-parallax {
  clip: rect(0, auto, auto, 0);
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.img-parallax img {
  width: 100% !important;
  height: 100vh !important;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  object-fit: cover;
  z-index: 0;
  transform: translateZ(0) !important;
}
.box-parallax {
  position: relative;
}
.pc {
  display: none !important;
}
.padd_wrap {
  padding-left: 5%;
  padding-right: 5%;
}
.remodal-overlay {
  background: rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 999px) {
  .pc {
    display: block;
  }
  .txt-vertical-pc {
    cursor: vertical-text;
    writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -moz-writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    text-orientation: upright;
    word-wrap: break-word;
  }
  .txt-vertical-pc .int {
    writing-mode: lr-tb;
    -o-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    -moz-writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    display: inline-block;
    text-align: center;
    line-height: 1;
  }
  .txt-vertical-pc .txt-latin {
    direction: rtl;
    writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -moz-writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    text-orientation: sideways-right;
    -o-text-orientation: sideways-right;
    -ms-text-orientation: upright;
    -ms-text-orientation: sideways-right;
    -moz-text-orientation: sideways-right;
    -webkit-text-orientation: sideways-right;
  }
  .txt-vertical-pc .txt-dot {
    cursor: vertical-text;
    direction: ltr;
    writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    -moz-writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    text-orientation: sideways-right;
    -o-text-orientation: sideways-right;
    -ms-text-orientation: upright;
    -ms-text-orientation: sideways-right;
    -moz-text-orientation: sideways-right;
    -webkit-text-orientation: sideways-right;
    line-height: 1;
    position: relative;
    left: -2px;
  }
  .none_hover {
    pointer-events: none;
  }
  .sp {
    display: none !important;
  }
  .pc {
    display: block !important;
  }
}
@media screen and (max-width: 999px) {
  img {
    width: 100%;
    height: auto;
  }
}
.fc-form [class^='error'] {
  position: static;
}
.f_cl {
  color: #bf992e;
}
.f_cl2 {
  color: #d6c29a;
}
.f_cl3 {
  color: #ffa325;
}
.txt_r {
  text-align: right;
}
i {
  font-style: normal;
}
/*
::-webkit-scrollbar {
width:4px;


}
::-webkit-scrollbar-thumb {
background:#999	;
}
::-webkit-scrollbar * {
background:rgba(0,0,0,0);
}
*/
.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.brk-in {
  display: inline-block;
}
.box-shadown {
  -webkit-box-shadow: 1px 5px 11px 0px rgba(140, 140, 140, 0.63);
  box-shadow: 1px 5px 11px 0px rgba(140, 140, 140, 0.63);
}
.img-shadown {
  -webkit-box-shadow: 0px 5px 12px 3px rgba(140, 140, 140, 0.43);
  box-shadow: 0px 5px 12px 3px rgba(140, 140, 140, 0.43);
}
header .btn-close {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 65px;
  z-index: 9;
  cursor: pointer;
}
header .btn-close:hover {
  opacity: 0.8;
}
header .btn-close img {
  width: 100%;
  height: auto;
}
section {
  position: relative;
}
section .padd_wrap {
  padding-left: 5%;
  padding-right: 5%;
}
section .wrap {
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (min-width: 768px) {
  section .wrap {
    padding-left: 0;
    padding-right: 0;
  }
  section .wrap .padd_wrap {
    padding-left: 0%;
    padding-right: 0%;
  }
}
.wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}
.wrap > * {
  box-sizing: border-box;
}
#navigation {
  background: #191919;
  color: #fff;
  padding: 0px 0px 100px;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  -moz-transition: opacity 0.5s ease 0s;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  text-align: center;
  color: #000;
}
#navigation .hamburger-sp {
  width: 55px;
  position: fixed;
  top: 10px;
  right: 0;
  z-index: 99;
}
#navigation .group {
  padding: 60px 5% 80px;
}
#navigation .tog-nav li {
  font-size: 10px;
  letter-spacing: 0.1em;
  padding: 0 0 30px 30px;
  position: relative;
  text-align: left;
}
#navigation .tog-nav li a {
  display: block;
}
#navigation .tog-nav li a span {
  color: #7a7575;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 24px;
}
#navigation .tog-nav li a.active span, #navigation .tog-nav li a:hover span {
  color: #fff;
}
#navigation .tog-nav li.access {
  text-align: center;
  border-top: 1px solid #535151;
  padding: 30px 0;
  margin-top: 20px;
}
#navigation .tog-nav li.access a {
  color: #fff;
  display: inline-block;
  margin: 0 10px 40px;;
  border:1px solid #d7d7d7;
  width:90%;
  padding:5px 0 0 0;
}
#navigation .tog-nav li.access a:hover,#navigation .tog-nav li.access a.active  {
  opacity: 0.7;
}
#navigation .tog-nav li.access a span {
  color: #fff;
  font-size: 18px;
}
#navigation .tog-nav li.soc {
  text-align: center;
  padding: 0;
}
#navigation .tog-nav li.soc a {
  display: inline-block;
  margin: 0 20px;
}
#navigation .tog-nav li.soc img {
  width: 40px;
  height: auto;
}
#navigation .tog-nav li.popup {
  font-family: 'Zen Old Mincho', serif;
  font-weight: 400;
  padding: 0;
  width: 90%;
  margin: 40px auto 0;
}
#navigation .tog-nav li.popup a {
  padding: 10px;
  color: #fff;
  border: 1px solid #8c8c8c;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  position: relative;
  color: #fff;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#navigation .tog-nav li.popup a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#navigation .tog-nav li.popup a:hover {
  border: 1px solid #fff;
  color: #000;
}
#navigation .tog-nav li.popup a:hover:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
@media screen and (min-width: 999px) {
  #navigation .group {
    max-width: 1000px;
    margin: 0 auto;
    padding: 150px 0 50px;
  }
  #navigation .tog-nav {
    position: relative;
  }
  #navigation .tog-nav li {
    width: 50%;
    padding: 0 0 85px 100px;
    box-sizing: border-box;
  }
  #navigation .tog-nav li:nth-child(4) {
    top: 0px;
    right: 0;
    position: absolute;
  }
  #navigation .tog-nav li:nth-child(5) {
    top: 97px;
    right: 0;
    position: absolute;
  }
  #navigation .tog-nav li a span {
    font-size: 60px;
  }
  #navigation .tog-nav li.access {
    padding: 35px 0;
    margin-top: 120px;
    width: 100%;
  }
  #navigation .tog-nav li.access a {
    margin: 0 45px;
  }
  #navigation .tog-nav li.access a span {
    font-size: 37px;
  }
  #navigation .tog-nav li.soc {
    text-align: center;
    padding: 70px 0 0;
    width: 100%;
  }
  #navigation .tog-nav li.soc a {
    display: inline-block;
    margin: 0 35px;
  }
  #navigation .tog-nav li.soc img {
    width: auto;
  }
  #navigation .tog-nav li.popup {
    margin: 100px auto 0;
    width: 600px;
  }
  #navigation .tog-nav li.popup a {
    padding: 0px;
    line-height: 98px;
    font-size: 24px;
  }
}
.navOpen .ft-bnr-fixed, .navOpen .ft_bnr_fixed, .navOpen #pagetop {
  opacity: 0 !important;
  visibility: hidden !important;
}
.navOpen #navigation {
  opacity: 1;
  pointer-events: auto;
}
.navOpen #navigation .group {
  visibility: visible;
}
header {
  position: relative;
}
header .logo {
  position: absolute;
  width: 32%;
  left: 5%;
  top: 0;
  z-index: 99;
}
header .logo img {
  width: 100%;
  height: auto;
}
header h1 {
  color: #fff;
  letter-spacing: 0.1em;
  position: absolute;
  z-index: 9;
  font-size: 10px;
  bottom: 30px;
  left: 5%;
  right: 5%;
  line-height: 1.4;
}
footer {
  background: #211d1b;
  color: #fff;
  padding: 10vw 0 90px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.2em;
}
footer .socialbuttons {
  padding: 30px 0 10px;
}
footer .cookies_link a {
  text-decoration: none;
}
footer .cookies_link a:hover {
  text-decoration: underline;
}
#key {
  background-size: cover;
  background-position: center 0;
  background-image: url("../img/menu/key.jpg");
  height: 85vw;
}
@media screen and (min-width: 999px) {
  #key {
    height: 740px !important;
  }
}
.remodal-close {
  width: 35px;
  height: 35px;
  top: 10px;
  right: 10px;
  left: auto;
}
@media screen and (min-width: 999px) {
  .remodal-close {
    top: 20px;
    right: 40px;
    width: 80px;
    height: 80px;
  }
}
.remodal-wrapper {
  padding: 0 20px;
}
#pagetop {
  bottom: 80px;
  right: 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
@media screen and (max-width: 999px) {
  .navOpen #pagetop, .navOpen.has-nav #pagetop {
    opacity: 0 !important;
    visibility: hidden !important;
  }
}
/*========layout pc===========*/
@media screen and (min-width: 999px) {
  #pagetop {
    width: auto;
    padding: 0;
    right: 20px !important;
    bottom: 100px !important;
  }
  body {
    font-size: 16px;
    line-height: 36px;
  }
  section .padd_wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .hamburger {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 0px;
    width: 110px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
  }
  .hamburger:hover {
    opacity: 0.8 !important;
  }
  .hamburger .on {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0 !important;
  }
  .hamburger img {
    width: 110px;
    height: 110px;
  }
  .hamburger.is-active img {
    opacity: 0;
  }
  .hamburger.is-active .on {
    opacity: 1 !important;
  }
  .has-nav header .hamburger {
    opacity: 1;
    visibility: visible;
  }
  header .logo {
    width: 192px;
    left: 34px;
  }
  header h1 {
    font-size: 13px;
    bottom: 45px;
    left: 40px;
  }
  header .hd-pc {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  header .hd-pc .nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
  header .hd-pc .nav li {
    padding: 46px 14px 0;
    position: relative;
    color: #b9b9b9;
  }
  header .hd-pc .nav li:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 45px;
    border-left: 1px solid #fff;
    opacity: 0;
  }
  header .hd-pc .nav li:hover a, header .hd-pc .nav li.active a {
    color: #fff;

  }
  header .hd-pc .nav li:hover:before, header .hd-pc .nav li.active:before {
    opacity: 1;
  }
  header .hd-pc .nav a span {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.15em;
  }
  header .hd-pc .nav a:hover, header .hd-pc .nav a.active {
    color: #fff;
  }
  header .hd-pc .soc {
    width: 23px;
    position: absolute;
    top: 400px;
    right: 38px;
  }
  header .hd-pc .soc a {
    display: block;
    margin-bottom: 50px;
  }
  header .hd-pc .soc img {
    width: 23px;
    height: auto;
  }
  header .hd-pc .contact {
    color: #fff;
    width: 250px;
    white-space: nowrap;
    margin-left: 32px;
    padding-top: 22px;
  }
  header .hd-pc .contact .tel {
    font-size: 12px;
    line-height: 32px;
  }
  header .hd-pc .contact .tel span {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 0;
  }
  header .hd-pc .contact .tel img {
    margin-right: 5px;
  }
  header .hd-pc .contact .access {
    
    line-height:160%;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border:1px solid #d7d7d7;
    width:220px;
  }
  header .hd-pc .contact .access a {
    display: inline-block;
    color:#fff;
    width:100%;
    height:100%;
    padding-top:3px;
  }
  header .hd-pc .contact .access a:hover {
    background: #fff;
    color:#000;
  }
  header .hd-pc .contact .access a span {
    padding: 0px 17px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    letter-spacing: 0.1em;
  }
  header .hd-pc .contact .access a:last-child span {
    border: none;
  }
  header .reservation {
    z-index: 99;
    position: fixed;
    right: 0;
    bottom: 170px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
  }
  header .reservation .parent:hover {
    opacity: 0.9;
  }
  header .reservation ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  header .reservation ul li {
    border-bottom: 1px solid #582525;
  }
  header .reservation ul li a {
    background-color: #450c0c;
    display: block;
  }
  header .reservation ul li a:hover {
    background-color: #791a1a;
  }
  header .reservation:hover ul {
    opacity: 1;
    visibility: visible;
  }
  footer {
    text-align: left;
    padding: 70px 20px 60px;
  }
  footer .socialbuttons {
    padding: 0;
    position: absolute;
    right: 0;
    top: 19px;
    width: auto;
  }
  footer address {
    text-align: left;
  }
  footer .ft-in {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
  }
}
.has-nav header .reservation {
  opacity: 1;
  visibility: visible;
}
.has-nav .ft_bnr_fixed {
  opacity: 1;
  visibility: visible;
}
.has-nav header .bnr-fix {
  top: 120px;
}
/*content*/
.remodal.ext {
  vertical-align: top;
}
#popup {
  background: #fff;
  max-width: 1100px;
  margin: 0 auto;
  font-size: 11px;
  line-height: 20px;
  text-align: left;
  padding: 50px 5%;
  letter-spacing: 0.1em;
  color: #000;
  box-sizing: border-box;
}
#popup h2 {
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 5vw;
  text-align: center;
}
#popup h2 span {
  display: inline-block;
  padding: 0 10px 10px;
  letter-spacing: 0.2em;
  border-bottom: 2px solid #000000;
}
#popup .txt {
  text-align: center;
  padding-bottom: 20px;
}
#popup .txt p {
  padding-bottom: 15px;
}
#popup .list {
  border: 1px solid #000000;
  padding: 10% 5%;
}
@media screen and (min-width: 999px) {
  #popup {
    font-size: 16px;
    line-height: 30px;
    padding: 90px 0 60px;
  }
  #popup h2 {
    font-size: 30px;
    padding-bottom: 50px;
  }
  #popup .txt {
    width: 460px;
    margin: 0 auto;
  }
  #popup .txt p {
    padding-bottom: 36px;
  }
  #popup .list {
    width: 600px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 65px 0;
    text-align: center;
  }
  #popup .list ul {
    text-align: left;
    display: inline-block;
  }
}
.remodal-wrapper, .remodal-wrapper-ext {
  text-align: center;
}
.remodal {
  padding: 0;
  max-width: 1100px;
}
.remodale {
  max-width: 1100px;
}
@media screen and (min-width: 999px) {
  .remodal-wrapper, .remodal-wrapper-ext {
    padding: 0;
  }
  .has-nav .hamburger {
    opacity: 1;
    visibility: visible;
  }
}
.ft_bnr_fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #141312;
  color: #fff;
  z-index: 999;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
.ft_bnr_fixed li {
  width: 60px;
  border-right: 1px solid #434140;
}
.ft_bnr_fixed li a {
  display: block;
  padding: 14px 0 18px;
}
.ft_bnr_fixed li.reservation {
  width: calc(100% - 180px);
  font-size: 9px;
  position: relative;
  line-height: 20px;
  padding: 10px 0 8px;
}
.ft_bnr_fixed li.reservation span {
  font-size: 16px;
  font-family: 'Cinzel', serif;
  font-weight: 400;
}
.ft_bnr_fixed li.reservation img {
  margin-right: 10px;
}
.ft_bnr_fixed li.reservation .sub {
  position: absolute;
  width: 100%;
  top: 0;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
}
.ft_bnr_fixed li.reservation .sub li {
  width: auto;
  background-color: #450c0c;
  border: none;
  border-top: 1px solid #434140;
}
.ft_bnr_fixed li.reservation .sub li a {
  padding: 0;
}
.ft_bnr_fixed li.reservation .sub img {
  width: 100%;
  height: auto;
  margin: 0;
}
.ft_bnr_fixed li.reservation:hover .sub {
  opacity: 1;
  visibility: visible;
}
.ft_bnr_fixed li.hamburger {
  box-sizing: border-box;
  padding-top: 14px;
  border: none;
}
.ft_bnr_fixed img {
  height: 22px;
  width: auto;
  vertical-align: middle;
}
@keyframes mymove {
  0% {
    filter: grayscale(100%);
  }
  100% {
    filter: grayscale(0%);
  }
}
.fade_photo[style*="visible"] img {
  animation-name: mymove;
  animation-duration: .3s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.photo_on {
  position: relative;
}
.photo_on .on {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0 !important;
  transition: opacity .8s ease 0.7s !important;
  -moz-transition: opacity .8s ease 0.7s !important;
  -webkit-transition: opacity .8s ease 0.7s !important;
}
.photo_on[style*="visible"] .on {
  opacity: 1 !important;
}
.bnr-shared a {
  display: block;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1em;
  padding: 8px 10px 8px 0;
background: #151312;
  position: relative;
  color: #fff;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.bnr-shared a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #151312;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.bnr-shared a:after {
  content: '';
  background: url("../img/shared/arow1.png") no-repeat 0 0/100%;
  width: 9px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.bnr-shared a:hover {
  background: #000;
}
.bnr-shared a:hover:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
@media screen and (min-width: 999px) {
  .bnr-shared a {
    font-size: 20px;
    line-height: 76px;
    padding: 0;
  }
  .bnr-shared a:after {
    right: 40px;
  }
}
.bg1 {
  background: url("../img/shared/bg1.jpg") repeat center 0;
}
.bg2 {
  color: #fff;
  background: url("../img/shared/bg2.jpg") repeat center 0;
}
#gmap {
  padding: 5vw 5%;
}
#gmap .map {
  position: relative;
  height: 300px;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#gmap .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#gmap .link {
  padding: 10vw 0;
}
#gmap .link li {
  width: 48%;
}
#gmap .link .print_map {
  padding-top: 10px;
  margin-left: -3vw;
}
#shopinfo {
  padding: 10vw 0;
}
#shopinfo .info {
  text-align: center;
}
#shopinfo .info .logo {
  width: 66%;
  margin: 10vw auto 0vw;
}
#shopinfo .info .tit {
  padding-bottom: 10px;
}
#shopinfo .info .tel {
  font-size: 12px;
  padding-bottom: 10vw;
}
#shopinfo .info .tel .num {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 120%;
  
}
#shopinfo .info .tel img {
  width: 24px;
  height: auto;
  margin-right: 10px;
}
#shopinfo .tbl-info dl {
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.1em;
  padding-bottom: 15px;
}
#shopinfo .tbl-info dl dd {
  padding-left: 17px;
}
#shopinfo .tbl-info dl.policy {
  padding-top: 10px;
}
#shopinfo .tbl-info dl.policy dd {
  padding: 0;
}
.menu-shared {
  padding: 10vw 5%;
}
.menu-list {
  margin-bottom: 30px;
}
.menu-list dl {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  background: url("../img/menu/dot.png") repeat-x 0 bottom;
  padding: 10px 0;
  position: relative;
}
.menu-list dl dt {
  width: calc(100% - 60px);
}
.menu-list dl dd {
  font-family: 'Garamond', serif;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: #720606;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.menu-list dl dd span {
  font-family: 'Zen Old Mincho', serif;
  font-size: 12px;
}
.menu-list h3 {
  text-align: center;
  background-color: #000000;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.05em;
  padding: 8px 10px;
  position: relative;
  cursor: pointer;
}
.menu-list h3:after {
  content: url("../img/shared/arow2.png");
  line-height: 0;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.menu-list.active h3:after {
  transform: translateY(-50%) rotate(180deg);
}
@media screen and (min-width: 999px) {
  #gmap {
    padding: 0 0;
  }
  #gmap .map {
    max-width: 1200px;
    margin: 0 auto;
    height: 600px;
  }
  #gmap .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #gmap .link {
    padding: 85px 0 93px;
    max-width: 840px;
    margin: 0 auto;
  }
  #gmap .link li {
    width: 380px;
  }
  #gmap .link .print_map {
    padding-top: 13px;
    margin: 0;
    letter-spacing: 0.05em;
  }
  #shopinfo {
    padding: 75px 0 136px;
  }
  #shopinfo .wrap {
    max-width: 1140px;
    margin: 0 auto;
  }
  #shopinfo .info {
    width: 413px;
  }
  #shopinfo .info .logo {
    width: auto;
    margin: 0 auto 15px;
  }
  #shopinfo .info .tit {
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 30px;
  }
  #shopinfo .info .tel {
    font-size: 14px;
    padding-bottom: 50px;
    line-height: 41px;
  }
  #shopinfo .info .tel .num {
    font-size: 40px;
    letter-spacing: -0.05em;
  }
  #shopinfo .info .tel img {
    width: auto;
    margin-right: 10px;
  }
  #shopinfo .photo {
    position: absolute;
    top: 142px;
    left: 50%;
  }
  #shopinfo .tbl-info {
    width: 50%;
    max-width: 490px;
  }
  #shopinfo .tbl-info dl {
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.1em;
    padding-bottom: 18px;
    display: table;
    width: 100%;
  }
  #shopinfo .tbl-info dl dt, #shopinfo .tbl-info dl dd {
    display: table-cell;
    box-sizing: border-box;
  }
  #shopinfo .tbl-info dl dt {
    width: 128px;
  }
  #shopinfo .tbl-info dl dd {
    padding-left: 0;
  }
  #shopinfo .tbl-info dl.policy {
    width: 432px;
    font-size: 14px;
    line-height: 24px;
    padding-top: 17px;
    display: block;
  }
  #shopinfo .tbl-info dl.policy dt, #shopinfo .tbl-info dl.policy dd {
    display: block;
    width: auto;
    padding-bottom: 8px;
  }
  .menu-shared {
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
  }
  .menu-shared .col {
    width: 480px;
  }
  .menu-list {
    margin-bottom: 40px;
  }
  .menu-list .toggle-main {
    display: block !important;
  }
  .menu-list dl {
    font-size: 14px;
    line-height: 24px;
    padding: 12px 0;
  }
  .menu-list dl:last-child {
    background: none;
  }
  .menu-list dl dt {
    width: calc(100% - 90px);
  }
  .menu-list dl dd {
    font-size: 18px;
  }
  .menu-list dl dd span {
    font-size: 14px;
  }
  .menu-list h3 {
    font-size: 18px;
    line-height: 43px;
    padding: 0;
  }
  .menu-list h3:after {
    display: none;
  }
  .menu-list.active h3:after {
    transform: translateY(-50%) rotate(180deg);
  }
}
@media screen and (min-width: 768px) and (min-height: 1000px) {
  header .reservation {
    bottom: 350px !important;
  }
  #pagetop {
    bottom: 250px !important;
  }
}